## Imports

In [1]:
import pandas as pd
from unidecode import unidecode

## Check on data

In [11]:
df = pd.read_json("https://file.notion.so/f/f/94b34e22-0d51-4e8e-bb6f-7062c3c60ee4/78abfe9b-caf1-436c-ac60-5d61fe61cb6b/json_for_case.json?id=1cc9ec60-a871-421a-84a5-ef6952989582&table=block&spaceId=94b34e22-0d51-4e8e-bb6f-7062c3c60ee4&expirationTimestamp=1714600800000&signature=zivl4oyTfJUQj3OpqzMSY-O2reU-b_bug6N0nwz4AJA&downloadName=json_for_case.json")

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        12 non-null     int64
 1   nome      12 non-null     object
 2   idade     12 non-null     int64
 3   email     12 non-null     object
 4   telefone  12 non-null     object
 5   endereco  12 non-null     object
dtypes: int64(2), object(4)
memory usage: 704.0+ bytes

In [13]:
list(df['endereco'])

[{'logradouro': 'Rua das Flores',
  'numero': 123,
  'bairro': 'Centro',
  'cidade': 'Cidade Fictícia',
  'estado': 'UF',
  'cep': '12345-678'},
 {'logradouro': 'Avenida dos Sonhos',
  'numero': 456,
  'bairro': 'Bairro Novo',
  'cidade': 'Outra Cidade',
  'estado': 'UF',
  'cep': '54321-098'},
 {'logradouro': 'Praça da Liberdade',
  'numero': 789,
  'bairro': 'Bairro Antigo',
  'cidade': 'Cidade Histórica',
  'estado': 'UF',
  'cep': '98765-432'},
 {'logradouro': 'Alameda das Palmeiras',
  'numero': 246,
  'bairro': 'Bairro das Palmeiras',
  'cidade': 'Cidade Tropical',
  'estado': 'UF',
  'cep': '13579-246'},
 {'logradouro': 'Rua dos Girassóis',
  'numero': 789,
  'bairro': 'Bairro do Sol',
  'cidade': 'Cidade do Verão',
  'estado': 'UF',
  'cep': '98765-432'},
 {'logradouro': 'Avenida das Árvores',
  'numero': 357,
  'bairro': 'Bairro Verde',
  'cidade': 'Cidade Ecológica',
  'estado': 'UF',
  'cep': '24680-135'},
 {'logradouro': 'Praça Central',
  'numero': 159,
  'bairro': 'Centro',
  'cidade': 'Cidade Grande',
  'estado': 'UF',
  'cep': '36912-147'},
 {'logradouro': 'Rua das Pedras',
  'numero': 753,
  'bairro': 'Bairro das Pedras',
  'cidade': 'Cidade de Pedra',
  'estado': 'UF',
  'cep': '25874-369'},
 {'logradouro': 'Alameda das Acácias',
  'numero': 963,
  'bairro': 'Bairro Florido',
  'cidade': 'Cidade das Flores',
  'estado': 'UF',
  'cep': '74185-296'},
 {'logradouro': 'Avenida das Estrelas',
  'numero': 159,
  'bairro': 'Bairro Estrelado',
  'cidade': 'Cidade do Céu',
  'estado': 'UF',
  'cep': '12345-987'},
 {'logradouro': 'Rua das Rosas',
  'numero': 852,
  'bairro': 'Bairro das Flores',
  'cidade': 'Cidade das Rosas',
  'estado': 'UF',
  'cep': '98765-432'},
 {'logradouro': 'Alameda das Violetas',
  'numero': 753,
  'bairro': 'Bairro das Cores',
  'cidade': 'Cidade Colorida',
  'estado': 'UF',
  'cep': '45678-901'}]

## Treatment

In [4]:
df[['logradouro', 'numero', 'bairro', 'cidade', 'estado', 'cep']] = df['endereco'].apply(pd.Series)

In [5]:
df = df.drop('endereco', axis=1)

In [6]:
df['nome'] = df['nome'].apply(unidecode)
df['logradouro'] = df['logradouro'].apply(unidecode)
df['bairro'] = df['bairro'].apply(unidecode)
df['cidade'] = df['cidade'].apply(unidecode)

In [9]:
df['telefone'] = df['telefone'].str.replace('-','')
df['telefone'] = df['telefone'].str.replace('(00)','')
df['cep'] = df['cep'].str.replace('-','')

In [10]:
df

,id,nome,idade,email,telefone,logradouro,numero,bairro,cidade,estado,cep
0,1,Joao da Silva,35,joao.silva@example.com,123456789,Rua das Flores,123,Centro,Cidade Ficticia,UF,12345678
1,2,Maria Oliveira,28,maria.oliveira@example.com,987654321,Avenida dos Sonhos,456,Bairro Novo,Outra Cidade,UF,54321098
2,3,Jose Pereira,45,jose.pereira@example.com,543219876,Praca da Liberdade,789,Bairro Antigo,Cidade Historica,UF,98765432
3,4,Ana Santos,30,ana.santos@example.com,135792468,Alameda das Palmeiras,246,Bairro das Palmeiras,Cidade Tropical,UF,13579246
4,5,Carlos Costa,40,carlos.costa@example.com,987654321,Rua dos Girassois,789,Bairro do Sol,Cidade do Verao,UF,98765432
5,6,Mariana Lima,25,mariana.lima@example.com,246801357,Avenida das Arvores,357,Bairro Verde,Cidade Ecologica,UF,24680135
6,7,Fernando Almeida,38,fernando.almeida@example.com,369121478,Praca Central,159,Centro,Cidade Grande,UF,36912147
7,8,Amanda Ferreira,32,amanda.ferreira@example.com,258743691,Rua das Pedras,753,Bairro das Pedras,Cidade de Pedra,UF,25874369
8,9,Rafaela Gomes,29,rafaela.gomes@example.com,741852963,Alameda das Acacias,963,Bairro Florido,Cidade das Flores,UF,74185296
9,10,Lucas Castro,33,lucas.castro@example.com,123459876,Avenida das Estrelas,159,Bairro Estrelado,Cidade do Ceu,UF,12345987
10,11,Isabela Martins,27,isabela.martins@example.com,987654321,Rua das Rosas,852,Bairro das Flores,Cidade das Rosas,UF,98765432
11,12,Gabriel Santos,36,gabriel.santos@example.com,456789012,Alameda das Violetas,753,Bairro das Cores,Cidade Colorida,UF,45678901